body
{
	width : 900px;
	background : grey;
}

#corps
{
	width : 60%;
	background : white;
	position : absolute;
	left : 20%;
	margin-top : 20px;
	height : 600px;
	padding : 5px;
	border : 3px solid blue;
}

#corps header 
{
	text-align : center;
}

#corps header img
{
	position : absolute;
	top : 2px;
	right : 2px;
}

section article, aside
{
	display : inline-block;

}

section aside 
{
	height : 350px;
	width : 70px;
	background-color : blue;
	color: white;
}

section article
{
	position : absolute;
}

section article .block
{
	position : relative;
	display : inline-block;
	width : 240px;
	vertical-align : top;
}

section article h2
{
	color: purple;
}

/* STYLE RESPONSIVE */

@media screen and (max-width : 900px)
{
	section  aside
	{
		display : none;
	}
	header p
	{
		font-size : 12px;
	}
	section article .block
	{
		display : block;
	}
}

