body
{
    color: white;
    list-style-type : square;
    padding : 5px;
}

header
{
    text-align : center;
    background-image : url("../images/dark_embroidery.png");
}

h2
{
    text-align : center;
    color: green;
}

main
{
    
    background-image : url("../images/stardust.png");
}

footer
{
    background-image : url("../images/fresh_snow.png");
    color: black;
}